@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    font-size: 62.5%;

    /* variaveis */
    --main-blue: #4EA8DE;
    --main-orange: #FFA500;
    --main-purple: #8284FA;
    --main-black: #0D0D0D;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
    --white: #D9D9D9;
    --purple-dark: #5E60CE;
    --blue-dark: #1E6F9F;
}

button, input {
    all: unset;
}

body {
    font-size: 1.6rem;
    background-color: var(--gray-600);
    color: white;
    width: 99vw;
}

